body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    position: fixed;
    top: 20px; /* Aangepaste positie, 20px vanaf de bovenkant */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    background-color: rgba(51, 75, 232, 0.317); /* Deels doorschijnend wit */
    backdrop-filter: blur(5px); /* Geblurd effect */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 180px; /* Hoekradius voor de eilandachtergrond */
    box-shadow: inset 0 0 10px rgba(56, 109, 222, 0.5); /* Blauwe inner shadow */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 15px;
  }
  
  .nav-links a {
    color: blue;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-button {
    background-color: yellow; /* Gele knopkleur */
    padding: 8px 15px;
    border-radius: 180px; /* Hoekradius van 180 graden */
    color: #333;
    text-decoration: none;
  }
  
  .nav-button:hover {
    background-color: gold; /* Verander de achtergrondkleur bij hover */
  }
  
  
.blue{
    background-color: #0099FF;
    color: yellow;
    text-align: left;
    padding-left: 50px; /* Voeg hier de gewenste hoeveelheid padding aan de linkerkant toe */
    padding-right: 40%
}
@font-face {
  font-family: 'margin';
  src: url('margin_demo-webfont.woff2') format('woff2'),
       url('margin_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*{
  font-family: margin;
}
.yellow-wave{
  background-color: #0099FF;
}


.yellow{
  background-color: #FFD700;
  color: #0099FF;
  text-align: left;
  padding-right: 50px; /* Voeg hier de gewenste hoeveelheid padding aan de linkerkant toe */
  padding-left: 50%;
}
.purple{
  background-color: #000B76;
  color: #ffffff;
  text-align: left;
  padding-right: 50%; /* Voeg hier de gewenste hoeveelheid padding aan de linkerkant toe */
  padding-left: 50px;
}